#instructions {
    border: 1px solid;
    padding: 1em;
}

.yellow-input {
    background-color: yellow;
}

form {
    line-height: 2em;
}

form label {
    display: block;
}

input[type=radio] {
    margin-right: 10px;
}